<div class="laugh row">
    <div class="laugh-image col-sm-8 col-xs-12">
        <a href="<%= url_for controller: "laughs", action: "show", id: laugh.id %>">
            <img src="<%= raw_img_url laugh %>">
        </a>
    </div>
    <div class="laugh-info col-sm-4 col-xs-12">
        <div class="laugh-title">
            <a href="<%= url_for controller: "laughs", action: "show", id: laugh.id %>">
                <%= laugh.title %>
            </a>
        </div>
        <div class="laugh-created"><%= laugh.created_at %></div>
        <% unless laugh.source.nil? %>
            <div class="laugh-source">(from <a href="<%= laugh.source %>" target="_blank"><%= url_domain laugh.source %></a>)</div>
        <% end %>
    </div>
</div>
