<div class="laugh row">
    <div class="laugh-image col-sm-8 col-xs-12">
        <a href="<%= url_for controller: "laughs", action: "show", id: laugh.id %>">
            <img src="<%= raw_img_url laugh %>">
        </a>
    </div>
    <div class="laugh-info col-sm-4 col-xs-12">
        <div class="laugh-title">
            <a href="<%= url_for controller: "laughs", action: "show", id: laugh.id %>">
                <%= laugh.title %>
            </a>
        </div>
        <div class="laugh-views"><%= laugh.views.to_i %> views</div>
        <div class="laugh-loads"><%= laugh.loads.to_i %> loads</div>
        <div class="laugh-created"><%= laugh.created_at %></div>
    </div>
</div>
