<div class="laugh row">
    <div class="laugh-image col-sm-8 col-xs-12">
        <img src="<%= raw_img_url laugh %>">
    </div>
    <div class="laugh-info col-sm-4 col-xs-12">
        <div class="laugh-title"><%= laugh.title %></div>
        <div class="laugh-views"><%= laugh.views.to_i %> views</div>
        <div class="laugh-loads"><%= laugh.loads.to_i %> loads</div>
        <div class="laugh-created"><%= laugh.created_at %></div>
    </div>
</div>
