<h1>Add a new Laugh</h1>

<%= form_for :laugh, url: laughs_path do |f| %>
    <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, placeholder: "Funny cat fails to climb curtain", class: "form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :file %>
        <%= f.file_field :file %>
    </div>
    <div class="form-group">
        <%= f.label "Source (optional)" %>
        <%= f.text_field :source, placeholder: "http://9gag.com/gag/399616", class: "form-control", type: "url" %>
    </div>
    <%= f.submit class: "btn btn-primary" %>
<% end %>
